<h1>Editing Book</h1>

<%= form_with model: @book, class: (@book.errors.any? ? 'has-error' : '') do |f| %>
<% if @book.errors.any? %>
  <div class="errors-box">
  <div class="errors-index">
    <%= @book.errors.count %> errors prohibited this book from being saved:
  </div>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>

  <div class="edit-title">
    Title
  </div>
  <div class="form-box">
    <%= f.text_field :title, class:"form-input" %>
  </div>

  <div class="edit-title">
    Body
  </div>
  <div class="form-box">
    <%= f.text_area :body, class:"form-input" %>
  </div>
  <div class="form">
    <%= f.submit 'Update Book' %>
  </div>

<div class=link-box>
  <div class="link-item">
    <%= link_to 'Show', @book %>
  </div>
  <div class="link-item">
      |
  </div>
  <div class="link-item">
    <%= link_to 'Back', '/books' %>
  </div>
</div>
<% end %>